.dropdownmenu ul, .dropdownmenu li {
  margin: 0;
  padding: 0;
}
.dropdownmenu ul {
  background: gray;
  list-style: none;
  width: 100%;
}
.dropdownmenu li {
  display: inline-block;
  position: relative;
  width: 33.13%;
  vertical-align: top;
  padding-right: 0.3%;
}
.dropdownmenu li:last-child {
  padding-right: 0%;
}
.dropdownmenu a {
  background: #00b4ef;
  color: #FFFFFF;
  display: block;
  font: bold 12px/20px sans-serif;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.dropdownmenu li:hover a {
  background: #000000;
}
#submenu {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;
}
li:hover ul#submenu {
  opacity: 1;
  top: 40px;	/* adjust this as per top nav padding top & bottom comes */
  visibility: visible;
}
#submenu li {
  float: none;
  width: 100%;
}
#submenu a:hover {
  background: #DF4B05;
}
#submenu a {
  background-color:#000000;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  /*overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
  font-family: sans-serif;
}
.lightsignals {
  border-top: 2px solid #00b4ef;
  border-bottom: 2px solid #00b4ef;
  width: 100%;
  height: 60%;
}
.settings {
  border-top: 2px solid #00b4ef;
  border-bottom: 2px solid #00b4ef;
  width: 100%;
}
.wrapper {
  padding: 15px;
  background: #f6f6f6;
  overflow: hidden;
  transition: height 200ms;
}
.wrapper h3{
color: blue;
}
#settings a{
color: white;
margin-bottom: 0px;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 6px;
background: #00b4ef;
/*font: bold 20px/30px sans-serif;*/
font-family: sans-serif;
display: block;
text-decoration: none;
}

